/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}


body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.getter {
  position: relative;
  margin-bottom: 25vh;
}

main {
  flex: 1 0 auto;
}

  body {
    background-color: #3b4252;
    color: lightgray;
  }

  .blue.lighten-1 {
    background-color: #2e3440 !important;
  }
  
  #download-button {
    background-color: #434c5e !important;
    border-radius: 9px;
    border-style: solid;
    border-color: #707c94;
  }

  .brand-logo {
    color: lightgray !important;
  }
